[user]
	email = lucionardelli@gmail.com
	name = Lucio Nardelli
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
    ui = auto
[color "diff"]
    whitespace = red reverse
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[mergetool "nvimdiff"]
    cmd = nvimdiff \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool]
    keepBackup = false
	prompt = false
[merge]
    # tool = vim_mergetool
    # conflictstyle = diff3
    tool = nvimdiff
    conflictstyle = merge
[mergetool "vim_mergetool"]
    cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = false
[push]
	default = simple
[alias]
    untracked = "!${EDITOR} $(git ls-files --others --exclude-standard)"
    fix = "!f() { ${EDITOR} `git diff --name-only`; }; f"
	ctags = !.git/hooks/ctags
    br = branch
    st = status
    co = checkout
    ci = commit
    df = diff
    dt = difftool
    mt = mergetool
    lg = log -p
    last = log --name-status HEAD^..HEAD
    lastp = log -p -m --first-parent -n1

    diffbranch = "!git log \"$1\"  ^\"$2\" --no-merges"
    graph="log --graph --abbrev-commit --decorate --date=relative --all"

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    # Grep regex on stashes
    grepstash = "!f() { for i in `git stash list --format=\"%gd\"` ; \
              do git stash show -p $i | grep -H --label=\"$i\" \"$@\" ; done ; }; f"

# Highlight whitespace in diffs
[color]
    ui = true
[color "diff"]
    whitespace = red reverse
[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[credential]
    helper = cache --timeout=3600
