[connection]
id=irobot-gb
uuid=<UUID>
type=vpn
autoconnect=false
permissions=user:<YOUR_USERNAME>:;
secondaries=
timestamp=<TIMESTAMP>

[vpn]
enable_csd_trojan=no
xmlconfig-flags=0
pem_passphrase_fsid=no
gwcert-flags=2
gateway-flags=2
autoconnect-flags=0
lasthost-flags=0
stoken_source=disabled
certsigs-flags=0
cookie-flags=2
gateway=vpn.irobot.com
authtype=password
service-type=org.freedesktop.NetworkManager.openconnect

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
